body {
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar-brand {
    font-weight: bold;
}

.table th {
    background-color: #e9ecef;
}

.card {
    box-shadow: 0 1px 4px rgba(0,0,0,.08);
}

tr.low-stock {
    background-color: #fff3cd !important;
}

.container.mt-4{
    flex: 1;
}

.card-body form {
        max-width: 99% !important;
    }